<header class="sticky inset-x-0 top-0 z-20">
  <div class="max-w-7xl relative bg-white/90 py-4 backdrop-blur-lg border-b-zinc-200 border-b mx-auto px-4 sm:px-6 lg:px-8">
    <div class="">
      <div class="relative flex items-center justify-between">
        <div class="lg:hidden">
          <button type="button" class="btn btn-outline text-slate-700">
            <%= render_icon 'hamburger', classes: 'h-4 w-4' %>
          </button>
        </div>
        <div class="relative z-10 shrink-0">
          <a href="/" title="Feather" class="flex">
            <img alt="Feather Logo" src="https://cdn.feather.blog?src=https%3A%2F%2Ffeather.so%2Fbuild%2F_assets%2Flogo-full-W6NCDN3K.svg&amp;optimizer=image" class="block h-8 w-auto">
          </a>
        </div>
        <div class="hidden lg:absolute lg:inset-0 lg:flex lg:items-center lg:justify-center lg:gap-4">
          <%= link_to 'Help', help_path, class: class_names("btn btn-ghost", "bg-gray-100 text-gray-900": is_help_path) %>
        </div>
        <div class="relative z-10 flex items-center gap-x-3">
          <div class="hidden sm:block">
            <% if user_signed_in? %>
              <div data-controller="dropdown" class="relative">
                <button class="inline-flex h-10 items-center justify-center rounded-xl border border-gray-300 px-4 py-2 text-base font-semibold text-gray-900 transition-all duration-200 hover:border-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-offset-2" type="button" data-action="dropdown#toggle click@window->dropdown#hide">Profile</button>
                <div
                  data-dropdown-target="menu"
                  class="hidden transition transform origin-top-right absolute right-0 z-10 mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  data-transition-enter-from="opacity-0 scale-95"
                  data-transition-enter-to="opacity-100 scale-100"
                  data-transition-leave-from="opacity-100 scale-100"
                  data-transition-leave-to="opacity-0 scale-95"
                >
                  <%= link_to "Settings", settings_path, class: "block px-4 py-2 text-md hover:bg-primary-900/5", :data => {
                    :action => "dropdown#toggle"
                  } %>
                  <%= button_to "Log Out (#{@email.truncate(15)})", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-md hover:bg-primary-900/5 w-full text-left" %>
                </div>
              </div>
            <% else %>
              <%= link_to 'Login', new_user_session_path, class: 'btn btn-outline' %>
            <% end %>
          </div>
          <a href="/#pricing" class="btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</header>